# NLP Project

## Problem Definition

- {problem def}

## Data Loading

Data availible from https://ddc-datascience.s3.amazonaws.com/Projects/Project.5-NLP/Data/NLP.csv

### Import Libraries we need

In [32]:
import pandas as pd 
import numpy as np 
import pickle

from textblob import TextBlob
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

In [2]:
path = 'dbpedia_data.csv'
raw_dbpedia_data = pd.read_csv(path)

In [3]:
raw_dbpedia_data.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

## EDA

In [4]:
#pull metadata function

In [5]:
raw_dbpedia_data.shape

(42786, 3)

In [29]:
name_error_filter = raw_dbpedia_data['name'].str.contains('%C')
raw_dbpedia_data[name_error_filter]

,URI,name,text
35,<http://dbpedia.org/resource/Freimut_B%C3%B6rn...,Freimut B%C3%B6rngen,freimut brngen born october 17 1930 is a germa...
36,<http://dbpedia.org/resource/Th%C3%BCring_Br%C...,Th%C3%BCring Br%C3%A4m,thring brm born 10 april 1944 is a swiss compo...
73,<http://dbpedia.org/resource/Marcel_J._Melan%C...,Marcel J. Melan%C3%A7on,marcel j mlanon is a philosopher and scientist...
85,<http://dbpedia.org/resource/Zvonimir_Juri%C4%87>,Zvonimir Juri%C4%87,zvonimir juri born 4 june 1971 is a croatian f...
122,<http://dbpedia.org/resource/Se%C3%A1n_%C3%93g...,Se%C3%A1n %C3%93g %C3%93 hAilp%C3%ADn,sen g hailpn born 22 may 1977 is a fijianirish...
...,...,...,...
42724,<http://dbpedia.org/resource/Jos%C3%A9_Higueras>,Jos%C3%A9 Higueras,jos higueras born february 28 1953 in diezma a...
42732,<http://dbpedia.org/resource/Ole_Gunnar_Solskj...,Ole Gunnar Solskj%C3%A6r,ole gunnar solskjr born 26 february 1973 is a ...
42733,<http://dbpedia.org/resource/Gerd_Gr%C3%B8nvol...,Gerd Gr%C3%B8nvold Saue,gerd grnvold saue born 20 january 1930 is a no...
42746,<http://dbpedia.org/resource/Floria_M%C3%A1rquez>,Floria M%C3%A1rquez,floria mrquez b february 11 1950 in caracas is...
42784,<http://dbpedia.org/resource/Tatiana_Faberg%C3...,Tatiana Faberg%C3%A9,tatiana faberg is an author and faberg scholar...

## Data Cleaning

### Taking care of utf-8 codes

In [7]:
clean_dbpedia_data = raw_dbpedia_data.copy()

- Steps to cleaning
    1. Remove percent symbols to isolate utf-8 codes

    1. Convert utf-8 code to corresponding character using KV pair

In [33]:
pickle_file_path = 'utf8_char_dict.pkl'
with open(pickle_file_path, 'rb') as file:

    utf8_char_dict = pickle.load(file)

## Data Preprocessing

## Data Processing

### DBpedia Similarity

### Wikipedia Similarity

### Conclusions & Future Prospects